# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Spring Boot
spring-shell.log

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local
